*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Tages */

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span{
    font-size: .9rem;
    color: #757373;
}

h6{
    font-size: 1.1rem;
    color: rgba(24, 24, 49);
}

/*Navigation*/
nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 8vw;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img{
    width: 50px;
    cursor: pointer;
}
nav .navigation{
    display: flex;
}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;
}
#menu-close{
    display: none;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
    
    
}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(1, 1, 26);
    font-size: 30px;
    font-weight: 500;

}
nav .navigation ul li a.active,
nav .navigation ul li a:hover{
    color: red;
}

/* Home */

#home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/back.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;

}
#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 900;
    background-color: black;
    padding: 10px;
    margin-bottom: 15px;

}
#home p{
    width: 50%;
    color: #fff;
    font-size: 1.4rem;
    line-height: 25px;
    background-color: black;
    padding: 10px;
    
}
#home .btn{
    margin-top: 30px;
}

#home a{
    text-decoration: none;
    font-size: 1rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;

}

#home a.blue{
    color: #fff;
    background-color: rgb(21, 21 , 100);
    transition: 0.5s ease;
}
#home a.blue:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}


#home a.yellow{
    color: #fff;
    background-color: #980505;
    transition: 0.5s ease;
}
#home a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}

    /*Features*/
#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea_base{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
     grid-gap: 1rem;
     margin-top: 50px;
}

#features h1{
    color: black;
}

#features .fea_box{
    background-color: #F9F9FF;
    text-align: start;
}

#features .fea_box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
    
}
#features .fea_box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
    
    
}

/*Course*/
#course{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
    
}
#course .course_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;

}


#course .courses{
    text-align: start;
    background-color: #F9F9FF;
    height: 100%;
    position: relative;
}
#course .courses img{
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
}
#course .courses .details{
    padding: 15px 15px 0 15px;
}
#course .courses .details a{
    color: #FDC93B;
    font-size: .9rem;
}
#course .courses .cost{
    background-color: rgb(0, 0, 14);
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 50px;

}

/*Registration*/

#registration{
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 112,168,0.5), rgba(81, 91, 233, 0.5)) , url("images/signup.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#registration .reminder{
    color:#fff;

}
#registration .reminder h1{
    color: #fff;
}

#registration .reminder .time{
    display: flex;
    margin-top: 30px;
}
#registration .reminder .time .date{
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;

}
#registration .form{
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#registration .form .btn{
    margin-top: 20px;
    margin-left: 35px;
}
#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;

}
#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}
#registration a.blue{
    text-decoration: none;
    font-size: 1rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(21, 21 , 100);
    transition: 0.5s ease;
}
/*Profiles*/
#experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
} 
#experts .experts_box{
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     grid-gap: 1rem;
     margin-top: 50px;

}
#experts .experts_box .profile{
    background-color: #fafaf1;
    padding: 30px 10px;
}
.profile_links{
    margin-top: 10px;
}
.profile_links a{
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.3s ease;
}
.profile_links a:hover{
    background: rgb(21, 21, 100);
    color: #fff;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
}

/*footer*/

footer{
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col{
    padding-bottom: 40px;
}

footer h3{
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
}
footer li:hover{
    color: rgb(241, 240, 245);
}
footer p{
    color: #7b838a;

}

footer .subscribe{
    margin-top: 20px;
}
footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334F6C;
    border: none;
    outline: none;
    color: #fff;

}
footer .subscribe  a{
    text-decoration: none;
    font-size: 1rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;
    

}


footer .subscribe a.yellow{
    color: #fff;
    background-color: #f32020;
    transition: 0.5s ease;
}
footer .subscribe a.yellow:hover{
    color: rgb(21, 21, 100);
    background: #fff;
}
footer .copyright{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
footer .copyright .profile_links{
    margin-top: 0px;
}
footer .copyright .profile_links a{
   background-color: #5f7185;
   color: #fff;
}
footer .copyright .profile_links a:hover{
    background-color: #FDC93B;
   color: #2c2c2c;
}
footer .copyright p{
    color: #fff;
}

/*About Home */
#about-home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("images/back1.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;

}
#about-home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#about-container{
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}
#about-container .about-img{
    width: 60%;
    padding-right: 60px;
}
#about-container .about-img img {
    width: 90%;
}
#about-container .about-text{
    width: 40%;
    
}
#about-container .about-text h2{
    color: #29303B;
    padding-bottom: 15px;
}
#about-container .about-text p{
    color: #686F7A;
    font-weight: 300;
}
#about-container .about-text .about-fe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}
#about-container .about-text .about-fe img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;

}
#about-container .about-text .about-fe .fe-text {
    width: 90%;
}
#about-container .about-text .about-fe .fe-text {
    font-size: 16px;
    color: #29303B;
}

/*Trust*/
#trust{
    text-align: center;
    padding: 8vw;
}
#trust .trust-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#trust .trust-img img{
    width: 90px;
    height: auto;

}
/*Blog*/
#blog-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}
#blog-container .bolgs{
    width: 60%;
}
#blog-container .bolgs img {
    width: 100%;
    border-radius: 19px;
}
#blog-container .bolgs .post {
    padding-bottom: 60px;
}
#blog-container .bolgs .post h3 {
    color: #29303B;
    padding: 15px 0 10px 0;

}
#blog-container .bolgs .post p {
    color: #757573;
    padding-bottom: 20px;

}
#blog-container .bolgs .post a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(21, 21, 100);
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}
#blog-container .cate{
    width: 30%;
}
#blog-container .cate h2 {
    padding-bottom: 7px;
}
#blog-container .cate a {
    text-decoration: none;
    color: #757573;
    font-weight: 500;
    line-height: 45px;
}
#blog-container .blogpost{
    width: 60%;
    margin: 0 auto;
}
#blog-container .blogpost p{
    text-align: justify;
    font-weight: 500;
    padding-bottom: 60px !important;
}
/*Inner-Courses*/
#inner-course{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}
#inner-course h3{
    padding: 35px 0 25px 0;
    color: #29303B;
}
#inner-course p{
    color: #64626e;
}
#inner-course hr{
    height: 1px;
    background: rgba(236, 226, 229, 0.5);
    margin-top: 40px;
  }
#inner-course .overview{
    width: 70%;

}
#inner-course .overview .course-img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;

}
#inner-course .overview .course-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#inner-course .overview .course-head .c-name{
    width: 70%;
}
#inner-course .overview .course-head .c-name h2{
    color: #29303B;
}
#inner-course .overview .course-head .c-name .star{
    margin: 6px 0;
}
#inner-course .overview .course-head .c-name .star a{
    color: #FDC93B;
    font-size: 0.9rem;
}
#inner-course .overview .course-head .c-name p{
    font-size: 15px;
}
#inner-course .overview .course-head span{
    padding: 16px 22px;
    border-radius: 5px;
    color: #8d38fc;
    font-size: 22px;
    font-weight: 700;
    background-color: rgba(246, 66, 252, 0.1);
}
#inner-course .learn p{
    font-size: 15px;
    padding-bottom: 15px;
}
#inner-course .learn p a{
    color: #654cE4;
    font-weight: 700;
    margin-right: 20px;
}
#inner-course .tutor{
    display: flex;
}
#inner-course .tutor img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}
#inner-course .tutor h5{
    font-size: 20px;
}
#inner-course .enroll{
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgba(11 2 55/8%);
   
}
#inner-course .enroll h3{
    padding-bottom: 10px;
}
#inner-course .enroll p{
    font-size: 15px;
    color: #64626e;
    margin: 15px 0;
   
}
#inner-course .enroll p a{
    color: #654ce4;
    font-weight: 500;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    
    
}
#inner-course .enroll .enroll-btn{
    padding-bottom: 25px 0 20px 0;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
#inner-course .enroll .enroll-btn a{
    text-decoration: none;
    font-size: .8rem;
    padding: 13px 45px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background: rgb(50, 50, 136);
}
/*contact*/
#contact{
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#contact .getin{
    width: 350px;
}
#contact .getin h2{
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}
#contact .getin p{
    color: #2c234d;
    
    line-height: 24px;
    padding-bottom: 25px;
    margin-bottom: 33px;
    border-bottom: 1px solid #e5e4ed;
}
#contact .getin h3{
    color: #2c234d;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 15px;

}
#contact .getin .getin-details div{
    display: flex;
}
#contact .getin .getin-details div .get{
    font-size: 16px;
    line-height: 22px;
    color: #5838fc;
    margin-right: 20px;
}
#contact .getin .getin-details div p{
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;

}
#contact .getin .getin-details .profile_links a{
    margin-right: 8px;
}
#contact .form{
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    border-radius: 10px;
}
#contact .form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}
#contact .form p{
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}
#contact .form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#contact .form .form-row input{
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}
#contact .form .form-col input,
#contact .form .form-col textarea {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}
#contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
   
}


/*tablet Mode*/
@media (max-width: 769px) {
    nav {
        padding: 20px 45px;

    }
    nav img {
        width: 70px;
    }
    #menu-btn{
        
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul{
        position: absolute;
        
        top: 0;
        right: -220px;
        width: 220px;
        height: 150vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation ul.active{
        right: 0;
    }
    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
        
    }
    nav .navigation ul li a{
        color:#fff;
       
    }
    nav .navigation ul li:hover{
        color: #FDC93B;
    }
    #home{
        padding-top: 0px;
        

    }
    #home p{
        width: 90%;
    }
    #features{
        padding: 8vw 4vw 0 4vw;
    }
    #course{
        padding: 8vw 4vw 0 4vw;
    }
    #registration{
        margin-top: 8vw;
        padding: 6vw 4vw 6vw 4vw;
    }
    #registration .reminder .time{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    #experts{
        padding: 8vw 8vw 4vw 8vw;
        text-align: center;
    }
    footer .copyright .profile_links{
        margin-top: 15px;
    }

    /*About */
    #about-container{
        padding: 8vw 4vw 2vw 4vw;
    }
    #about-container .about-img{
        padding-right: 30px;
    }
    #trust .trust-img img {
        width: 50px;
        height: auto;
    }
    /*Blog*/
    #blog-container{
        padding: 8vw 4vw;
    }
    #blog-container .cate{
        width: 100%;
    }
    #blog-container .blogpost{
        width: 100%;
        margin-top: 60px;
    }
    #blog-container .bolgs img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    /*inner-courses*/
    #inner-course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8vw 4vw;
    }
    #inner-course .overview{
        width: 100%;
    }
    #inner-course .overview .course-img{
        width: 100%;
        height: 100%;
    }
    #inner-course .enroll{
        margin-top: 25px;
    }
    /*Contact*/
    #contact {
        padding: 8vw 4vw;
        
    }
    #contact .getin {
        width: 250px;
    }
    
}

@media (max-width:475px) {
    #registration{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #registration .reminder .time{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* About */
    #about-container{
        flex-direction: column-reverse;

    }
    #about-container .about-img{
        width: 100%;
    }
    #about-container .about-text{
        width: 100%;
        padding-bottom: 20px;
    }
    #trust .trust-img {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #trust .trust-img img {
        width: 60px;
        margin: 10px 15px;
        height: auto;
    }
    /*Blog*/
    #blog-container{
       flex-direction: column;

    }
    #blog-container .blogs {
        width: 100%;
    }
    #blog-container .blogpost{
        width: 100%;
        margin-top: 90px;
    }
    #blog-container .bolgs img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    #inner-course .overview .course-head .c-name{
        width: 50%;
    }
    #inner-course .overview .course-head .c-name h2 {
        font-size: 22px;
    }
    #inner-course .overview .course-head span {
       font-size: 22px;
    }
    #inner-course .enroll {
        width: 100%;
    }
    /*Contact*/
    #contact{
        padding: 8vw 4vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    #contact .getin {
        width: 100%;
        margin-bottom: 50px;
    }
    #contact .form {
        width: 100%;
        padding: 40px 30px;
       
    }
    #contact .form .form-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    #contact .form .form-row input{
        width: 100%;
    }

    

}

@media (max-width: 376px) {
    footer input {
        width: 100%;
        margin-bottom: 20px; 
    }
}



